* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.open-sans-normal {
  font-family: 'Open Sans';
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'width' 100;
  color: #181c32; }
