body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6; }

h3 {
  color: #181c32; }

h6 {
  color: #181c32;
  font-size: 1em; }

#card-p {
  color: #515565;
  font-weight: 300;
  margin: 10px 0; }

#card-img {
  border-radius: 10px;
  height: 160px;
  width: inherit; }

.div-item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 360px; }

.div-item-text {
  margin: 20px 15px; }

.heading-second {
  color: #414557; }

.single-pair {
  margin-right: 30px; }

.double-pair {
  display: flex;
  flex-direction: row;
  margin-top: 12px; }

.ratepa {
  margin-left: 12px; }

.div-btn {
  margin-top: -12px;
  padding: 15px; }

.btn-blue {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #5456cf; }
  .btn-blue:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.btn-white {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid #6b7280;
  background-color: #ffffff;
  color: #414557;
  margin-left: 10px; }
  .btn-white:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.blank-space {
  margin-top: 20px; }

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; } }
