body {
  margin: 0;
  padding: 0;
  background: conic-gradient(from 0.5turn at bottom, lightblue, white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  border: 2px double yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 3rem;
  padding: 20px;
  color: black;
  background-color: #f9f9f9;
}

.data {
  border: 1px solid yellowgreen;
  flex-direction: row;
  max-width: 300px;
  overflow: auto;
  display: block;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-left: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 60%;
  border: 1px solid yellowgreen;
  grid-gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-container .data {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: background-color 0.2s ease;
}

.grid-container .data:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.no-text-indicator {
  cursor: default;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
