// variables
$blue-color: #5456cf;
$bg-grey: #f3f4f6;
$second-grey: #6b7280;
$white: #ffffff;
$text-grey: #414557;
$heading-color: #181c32;

// mixin
@mixin Roboto {
  font-family: 'Roboto', sans-serif;
}

// elements
body {
  @include Roboto;
  background-color: $bg-grey;
}

h3 {
  color: $heading-color;
}

h6 {
  color: $heading-color;
  font-size: 1em;
}

#card-p {
  color: #515565;
  font-weight: 300;
  margin: 10px 0;
}

#card-img {
  border-radius: 10px;
  height: 160px;
  width: inherit;
}
// classes
.div-item {
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 360px;
}

.div-item-text {
  margin: 20px 15px;
}

.heading-second {
  color: $text-grey;
}

.single-pair {
  margin-right: 30px;
}

.double-pair {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.ratepa {
  margin-left: 12px;
}

@mixin btn {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  &:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

// buttons
.div-btn {
  margin-top: -12px;
  padding: 15px;
}

.btn-blue {
  @include btn();
  background-color: $blue-color;
}
.btn-white {
  @include btn();
  border: 1px solid $second-grey;
  background-color: $white;
  color: $text-grey;
  margin-left: 10px;
}

.blank-space {
  margin-top: 20px;
}

// media - Responsive
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
